@charset "UTF-8";

@font-face {
    font-family: 'SUIT';
    font-weight: 300;
    src: local('SUIT Light'), url('./fonts/SUIT-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'SUIT';
    font-weight: 400;
    src: local('SUIT Regular'), url('./fonts/SUIT-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SUIT';
    font-weight: 500;
    src: local('SUIT Medium'), url('./fonts/SUIT-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SUIT';
    font-weight: 700;
    src: local('SUIT Bold'), url('./fonts/SUIT-Bold.woff2') format('woff2');
}
