@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: top;
}

html, body {
    overflow: hidden;
}

body {
    background: #e4e4e4;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.front-canvas {
    z-index: 10;
}